
/AlienGrab/AlienGrab/AlienGrab.csproj.Debug.cachefile
/AlienGrab/AlienGrab/bin/x86/Debug/AlienGrab.exe
/AlienGrab/AlienGrab/bin/x86/Debug/AlienGrab.pdb
/AlienGrab/AlienGrab/bin/x86/Debug/Content/block.xnb
/AlienGrab/AlienGrab/bin/x86/Debug/Content/ship.xnb
/AlienGrab/AlienGrab/obj/x86/Debug/AlienGrab.csproj.FileListAbsolute.txt
/AlienGrab/AlienGrab/obj/x86/Debug/AlienGrab.exe
/AlienGrab/AlienGrab/obj/x86/Debug/AlienGrab.pdb
/AlienGrab/AlienGrab/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/AlienGrab/AlienGrab/obj/x86/Debug/Microsoft.Xna.Framework.RuntimeProfile.txt
/AlienGrab/AlienGrab/obj/x86/Debug/ResolveAssemblyReference.cache
/AlienGrab/AlienGrab/obj/x86/Debug/cachefile-{9C1325EF-EA0E-480F-AAD2-563C5328674E}-targetpath.txt
/AlienGrab/AlienGrabContent/obj/x86/Debug/AlienGrabContent.contentproj.FileListAbsolute.txt
/AlienGrab/AlienGrabContent/obj/x86/Debug/ContentPipeline.xml
/AlienGrab/AlienGrabContent/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/AlienGrab/AlienGrabContent/obj/x86/Debug/ResolveAssemblyReference.cache