*.cachefile
/AlienGrab/AlienGrab/obj/
/AlienGrab/AlienGrab/bin/
/AlienGrab/AlienGrabContent/obj/
/AlienGrab/AlienGrab/AlienGrab_TemporaryKey.pfx
/ContentPipelineExtension/bin/
/ContentPipelineExtension/obj/
/LEAPLibrary/bin/
/LEAPLibrary/obj/
